<head>
  <link rel="stylesheet" href="/static/styles.css" />
</head>

<div>
  <img class="banner" src="/static/images/project_logo.png" />
</div>
<!--  
<div style="text-align: center;">
    <h1>Bienvenido a Pizza Ucab</h1>
</div>
-->

<div class="container">
  <button class="button">
    <a class="text" href="order/">Hacer un pedido</a>
  </button>
  <button class="button">
    <a class="text" href="orders/">Listado de ventas</a>
  </button>
  <button class="button">
    <a class="text" href="orders-by-date/">Ventas por dia</a>
  </button>
  <button class="button">
    <a class="text" href="orders-by-size/">Ventas por tamaño de pizza</a>
  </button>
  <button class="button">
    <a class="text" href="orders-by-topping/">Ventas por ingrediente</a>
  </button>
  <button class="button">
    <a class="text" href="orders-by-client/">Ventas por cliente</a>
  </button>
</div>
