<head>
  <link rel="stylesheet" href="/static/styles.css" />
</head>

<div>
  <img class="banner" src="/static/images/project_logo.png" />
</div>

<h1 style="text-align: center">Recuento de ventas por tamaño de pizza</h1>
{% if sizes_list %}
<ul>
  {% for size in sizes_list %}
  <li>
    <p>
      {{ size.name }}: <strong>{{ size.pizza_set.count }}</strong> pizzas
      vendida{{ size.pizza_set.count|pluralize }}
    </p>
  </li>
  <br />
  {% endfor %}
</ul>
{% else %}
<h1>No se han realizado ordenes.</h1>
{% endif %}
