<h1 style="text-align: center;font-family: sans-serif;margin-bottom: 50px;margin-top: 50px;">Recuento de ventas por día</h1>
{% if orders_list %}
    <ul style="padding:0px; list-style: none;">
        {% for order in orders_list %}
            <li style="padding:5px 10px; background-color: #eeeeee; border: 1px solid #dddddd;">
                <p style="font-size: 16px; font-family: sans-serif; text-align: center;"><strong>{{ order.day }}: </strong>{{ order.count }} órdenes</p>
            </li>
            <br>
        {% endfor %}
    </ul>
    {% else %}
        <h1>No se han realizado ordenes.</h1>
{% endif %}