<h1>Formulario de pizza</h1>

<form method="POST">
    {% csrf_token %}
    {{ order_form.as_p }}
    {{ pizza_form }}
    
    {% if clicked %}
        <h2>Clickeado</h2>
    {% endif %}
    <!-- {% for topping in topping_list %}
        <input type="checkbox" id="{{ forloop.counter }}" value="{{ topping.name }}" name="toppingas">
        <label>{{ topping.name }}</label><br>
    {% endfor %} -->
    <!-- {{ multi_pizza_form.as_p }}
    {{ formset.management_form }}
        {% for form in formset %}
            {{ form }}
            <br><br>
        {% endfor %} -->
    <input type="submit" value="Guardar">
</form>
